.admin_container {
  width: 70%;
  margin-left: 22.5%;
  margin-right: 7.5%;
  padding-top: 30px;
}

.admin_container h1 {
  width: 98%;
  height: 100%;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;

  text-align: left;

  font-size: 30px;
  font-weight: normal;
}

.scrolling_table {
  overflow-y: auto;
  border: solid 2px #555;
}

.admin_table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;

  font-size: 15px;
  border: solid 2px #555;
}

.admin_table th,
td {
  padding: 5px 20px;

  border: solid 2px #555;
  color: black;
  background-color: #fefefe;
}

.admin_table th {
  background-color: #84c3c9;
  font-size: 18px;
  font-weight: bold;
}

.admin_table td {
  border: solid 1px #555;
}

.button_row {
  width: 100%;
  text-align: center;
}

.add_button {
  padding: 3px 30px;
  text-align: center;
  background-color: #35a2a9;
  border: none;
  border-radius: 50px;

  font-size: 15px;
  color: #fefefe;
}

.add_button:hover {
  transition: all 0.2s ease 0s;
  cursor: pointer;
  opacity: 0.5;
}

.search form {
  width: 100%;
  margin: 5px 0px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.search input[type="text"] {
  border: solid 1px #555;
  border-radius: 3px;
}

.search input[type="submit"] {
  padding: 3px 10px;
  text-align: center;
  background-color: #35a2a9;
  border: none;
  border-radius: 50px;

  font-size: 15px;
  color: #fefefe;
}

.search input[type="submit"]:hover {
  transition: all 0.2s ease 0s;
  cursor: pointer;
  opacity: 0.5;
}

/*Admin add css*/

.admin_add_div {
  margin: 25px;
  margin-left: 35%;
  margin-right: 20%;
  padding: 15px;

  background-color: #fefefe;
}

.admin_add_div h1 {
  width: 60%;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;

  text-align: left;

  font-size: 25px;
  font-weight: normal;
}

.admin_add_div form {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20%;

  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  border: solid 1px #ccc;

  font-size: 15px;
}

.admin_add_div input {
  padding: 5px;
  margin-bottom: 10px;
}

.admin_add_div label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin_add_button {
  display: flex;
  justify-content: space-evenly;
}

.admin_add_div input[type="submit"],
input[type="reset"] {
  padding: 5px 20px;
  align-items: center;
  text-align: center;
  background-color: #35a2a9;
  border: none;
  border-radius: 50px;

  font-size: 15px;
  color: #fefefe;
}

.admin_add_div input[type="submit"]:hover,
input[type="reset"]:hover {
  transition: all 0.2s ease 0s;
  cursor: pointer;
  opacity: 0.5;
}

.admin_add_div button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px;
  text-align: center;
  background-color: #fefefe;
  border: solid 1px #35a2a9;
  border-radius: 50px;

  font-size: 15px;
  color: #35a2a9;
}

.admin_add_div button:hover {
  transition: all 0.2s ease 0s;
  cursor: pointer;
  background-color: #35a2a9;
  color: #fefefe;
  border: none;
  opacity: 0.5;
}

.admin_button_action a {
  padding: 3px 20px;
  text-align: center;
  background-color: #35a2a9;
  border: none;
  border-radius: 50px;

  text-decoration: none;
  font-size: 15px;
  color: #fefefe;
}

.admin_button_action button:hover {
  transition: all 0.2s ease 0s;
  cursor: pointer;

  background-color: #35a2a9;
  opacity: 1;
}
