.page-header {
  background-color: #e15232;
  background-size: cover;
  font-size: 30px;
  text-align: center;
  line-height: 150px;
  padding: 0rem;
  height: 170px;
  width: 100%;
  margin: 20px auto;
}
h2 {
  color: #020c37;
}
h3 {
  text-align: left;
}

.container {
  margin: 20px auto;
  text-align: center;
  color: #234e70;
  background-color: #fbf8be;
  padding: 100px;
  width: 300px;
}

.container1 {
  margin: 20px auto;
  text-align: center;
  color: #fefefe;
  background-color: #0e7995;
  padding: 100px;
  width: 400px;
}

.button {
  text-align: center;
}
