html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;

  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e6ecf1;
}

.right_column {
  width: 80%;
}

/* header style */
header {
  height: 10%;
  color: white;

  background-color: #033f63;

  display: flex;
  align-items: center;
  padding: 15px;
}

.logo {
  cursor: pointer;
  margin-right: 20px;
  width: 161px;
  height: 50px;
}

.dashboard {
  height: 100%;
  margin-right: auto;
  color: white;
  cursor: pointer;
  text-decoration: none;

  transition: all 0.1s ease 0s;
}

.dashboard:hover {
  opacity: 0.8;
}

.admin_logout_button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 9px 25px;
  justify-content: flex-end;

  background-color: #fbf1e8;

  font-weight: 500;
  font-size: 20px;

  border: none;
  border-radius: 50px;

  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.admin_logout_button:hover {
  background-color: #0e7995;
  color: white;
}

#sideNav {
  background-color: #0e7995;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #111;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  color: white;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}

.sidenav a:hover {
  opacity: 100%;
  background-color: rgb(38, 234, 234);
}

.closebutton {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
