/* navigation bar css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  background-color: #ffcf69;
  color: #000000;
  margin: 10;

  background: url("../images/job1.jpg");
      background-size: cover; /* Adjust to cover the entire body */
      background-position: center;

}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.enroll-button {
  padding: 15px 30px; /* Adjust the padding to make the button larger */
  font-size: 18px; /* Increase the font size if needed */
  color: yellow;
}


.content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 50px;
  position: centered;
  margin-top: 70px;
  transform: translateY(-50%);
  top: 0%;
}

.content h1 {
  font-size: 50px;
  color: #ffc127;
}

.content p {
  width: 420px;
  padding-top: 15px;
}

.input_row{
  display: flex;
}

.read-button {
  margin-top: 50px;
  padding: 30px 60px;
  border: none;
  background: #ffc127;
  color: white;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
}

.custom-label {
  color: black;           /* Text color: black */
  background-color: skyblue; /* Background color: sky blue */
  padding: 5px 50px;       /* Optional: Adjust padding for spacing */
  border-radius: 5px;      /* Optional: Add rounded corners */
  position: center;
}

.form-group {
  
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 50px; /* Adjust the value to increase or decrease space */
}

.center-form {
  display: flex;
  padding-top: 0%;
  justify-content:center;
  align-items: center;
  height: auto; 
  width:fit-content;/* Optional: Adjusts the height based on the viewport */
}
header {
  background-color: rgba(255, 207, 105);
}

.form-container {
  color:#000000;
  background-color: rgba(254,254,254, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 3% 3%;
  width:70%;

  display: flex;
  flex-direction: column;
}


.input_row {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;  
}


input[type="text"] {
  width: 200px; /* Adjust the size as needed */
  padding: 8px; /* Optional: Add padding for better aesthetics */
}
        /* Styling Date Input */
        input[type="date"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="number"] {
         
          width: 80px;
          height: 30px;

          
      }

        /* Styling Dropdown List */
        select {
            padding: 8px;
            width: 25%;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* Styling Choose File Input */
        input[type="file"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

      
        
