.fill {
  background-color: #f5e6b1;
  font-size: 30px;
  text-align: center;
  color: #000000;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 100%; /* Adjust the width as needed */
}

.form-group {
  margin-bottom: 20px;
  margin-left: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.box1,
.box3,
.button,
.photoupload {
  width: 45%;
  padding: 10px;
}

.box1 {
  box-sizing: border-box;
}

.box3 {
  height: 100px;
  width: 380px;
  resize: none;
}

.boxbut {
  height: 50px;
  resize: none;
}

.button {
  background-color: #fe5d37;
  color: #fff;
}

.photo-container {
  padding: 20px;
  display: flex;
  width: 35%; /* Adjust the width as needed */
  justify-items: center;
  align-items: center;
}

.photo {
  width: 100%;
  height: auto;
}
